{% extends "base.html" %}
{% block yield %}
			<div class="details right">

				<div class="message">
					<p class="medium">How QR Code works? <p>
					<img src="{{ MEDIA_URL }}assets/img/pysoldev.com.png">
				</div>
			</div>
		</div>
	</header>

	<section class="body">

		<div class="inner">

				<div id="extra">
					<div class="block">
						<p class="large">Add Logo to your QR code, customized for your branding! </p>					
							<p class="medium">Send us your data and the logo to embed.</p>
							<p class="small"> We will create a draft and an offer (free of charge and without obligation). Normally, the offered price will be US $ 40. You can of course discuss changes with us after receiving the draft.</p>
							<p class="medium">We create your Logo QR Code in print quality.</p>
							<p class="small"> If you accept our offer, we will email you a customized Logo QR Code as SVG, EPS and PDF file in print-quality as well as a PNG and JPEG version.</p>
							<p class="medium">You use your customized Logo QR Code.</p>
							<p class="small"> An embedded graphic will create additional attention for your QR Code and shows the user whom or what to expect before scanning it.</p>
							
					</div>
					<div class="block">		
					<h2 class="heading"><span class="center"><strong>How to Order? </strong></span></h2>
						
						<p class="small">Send an email to qrcoder@pysoldev.com with logo attachement or link of logo you want to embbed.</p>
						<p class="medium">What happens after sending?</p>
						<p class="small">If there are any questions from our side, we will contact you through email. We create the draft of your Logo QR Code and send it to you. If you like the draft, just send us another email to place the order.</p>

						<p class="medium">How do I get the QR Code files?</p>

						<p class="small">You will receive your Logo QR Code files via email within 1-2 business days.</p>
						
						<p class="medium">How can I pay? </p>

						<p class="small">Please pay us through PayPal only. </p>
					</div>
					
					<!--<div class="block">
						<h2 class="heading"><span class="center"><strong>Samples of customized QR codes with Logo. </strong></span></h2>
						<p class="small">  </p>
						<ul class="example">
							<li><a href="{{ MEDIA_URL }}assets/img/slider/1.jpg" rel="prettyPhoto[gallery]"><img src="{{ MEDIA_URL }}assets/img/scan/scan_iphone.png" /></a></li>
							<li><a href="{{ MEDIA_URL }}assets/img/slider/2.jpg" rel="prettyPhoto[gallery]"><img src="{{ MEDIA_URL }}assets/img/scan/scan-android.png" /></a></li>
							<li><a href="{{ MEDIA_URL }}assets/img/slider/3.jpg" rel="prettyPhoto[gallery]"><img src="{{ MEDIA_URL }}assets/img/scan/scan-windows.png" /></a></li>
							<li><a href="{{ MEDIA_URL }}assets/img/slider/4.jpg" rel="prettyPhoto[gallery]"><img src="{{ MEDIA_URL }}assets/img/scan/scan-zapper.png" /></a></li>
							
						</ul>
					</div>-->

				</div>

				
{% endblock %}