{% extends "base.html" %}
{% block yield %}
			<div class="details right">

				<div class="message">
					<!-- Fading text. See core.js for list of words. -->
					<!-- <p class="large">We're the X of <span id="words"></span></p> -->

					<!-- Static text -->
					<p class="medium">FAQs</p>
					<img src="{{ MEDIA_URL }}assets/img/pysoldev.com.png">
				</div>

				<!-- <div class="calltoaction">
			      <a href="#">Download</a>
			      <p class="top">click to begin</p>
			      <p class="bottom">1.2MB .zip</p>
			    </div> -->

			</div>
		</div>

		<!-- <div id="progress-back" class="load-item"><div id="progress-bar"></div></div> -->
		<!-- <div id="countdown"></div> -->
		<!-- <div class="contact_map" id="contact_map"></div> -->

	</header>

	<section class="body">

		<div class="inner">

				<div id="extra">
					<div class="block">

						<h2 class="heading"><span class="left"><strong>Can I use the website as a free user?</strong></span></h2>
							<p class="small">Yes. This website is absolutely free and you can use this anonymously. No sign-up, no email address harvesting, no spamming and no tracking of IP.</p>
						  
					</div>

					<div class="block">
						<h2 class="heading"><span class="left"><strong>Can I use your QR codes commercially?</strong></span></h2>
						<p class="small"> Yes. There are no restrictions on commercial use. There's no limit in using this service. </p>
					</div>
					
					<div class="block">
						<h2 class="heading"><span class="left"><strong>Are your QR codes ad-free?</strong></span></h2>
						<p class="small"> Yes. Our QR codes are guaranteed 100% ad-free. If you see an ad after scanning one of our QR codes, your scanning app put it there. </p>
					</div>
					
					<div class="block">
						<h2 class="heading"><span class="left"><strong>Do your QR codes expire?</strong></span></h2>
						<p class="small"> Yes. We normally don't save QR Codes on this website. </p>
					</div>

				</div>

				
{% endblock %}