{% extends "base.html" %}
{% block yield %}
			<div class="details right">

				<div class="message">
					<p class="medium">How QR Code works? <p>
					<img src="{{ MEDIA_URL }}assets/img/pysoldev.com.png">
				</div>
			</div>
		</div>
	</header>

	<section class="body">

		<div class="inner">

				<div id="extra">
					<div class="block">
						<h2 class="heading"><span class="center"><strong>How could you use a QR code? </strong></span></h2>					
							<p class="small">You could use QR codes in your business in a number of ways. Do it on every product on your web site containing product details, contacts and URL to the page so they can show their friends on their Smartphones. Add them to your business card or create vCard containing your contact details so its easy for someone to add you on their Smartphone.</p>
							
							<div id="pricing-table" class="clear">
								<div class="list qrcode">
									<h3>Increased engagement with fans by adding them to any print advertising, flyers, posters, invites, TV ads etc containing</h3>
									<ul>
										<li>Product details</li>
										<li>Contact details</li>
										<li>Offer details</li>
										<li>Event details</li>
										<li>Competition details</li>
										<li>Twitter, Facebook, Pinterest</li>
										<li>A link to your YouTube video</li>
									</ul>
								</div>
							</div>							
																								
					</div>
					<div class="block">
						<h2 class="heading"><span class="center"><strong>QR Codes can be use in whatever you want. </strong></span></h2>
						<p class="small"> QR Codes works in many advertising campaigns. Here we find some items in the market with QR Codes.</p>
						<ul class="example">
							<li><a href="{{ MEDIA_URL }}assets/img/slider/1.jpg" ><img src="{{ MEDIA_URL }}assets/img/scan/stamp_qr.png" /></a></li>
							<li><a href="{{ MEDIA_URL }}assets/img/slider/2.jpg" ><img src="{{ MEDIA_URL }}assets/img/scan/choco_qr.png" /></a></li>
							<li><a href="{{ MEDIA_URL }}assets/img/slider/3.jpg" ><img src="{{ MEDIA_URL }}assets/img/scan/zazzle_qr.png" /></a></li>
							
						</ul>
					</div>

				</div>

				
{% endblock %}