{% extends "base.html" %}
{% block yield %}
			<div class="details right">

				<div class="message">
					<p class="medium">Print PDF <p>
					<img src="{{ MEDIA_URL }}assets/img/pysoldev.com.png">
				</div>
			</div>
		</div>
	</header>

	<section class="body">

		<div class="inner">

				<div id="extra">
					<div class="block">
						<h2 class="heading"><span class="left"><strong>PDF Output </strong></span></h2>					
							<p class="small">Download and print in PDF output</p>
							
							
					</div>
				</div>

{% endblock %}